@*We need the layout file link here its missing*@ 
@{
    ViewBag.Title = "Register";
}

@*we add @using below too access user.identity//properties bleow User.Identity and isAuthenticated below in if else*@
@using System.Security.Claims

<div class="text-center">
    <h2>Mr. Fix-It</h2>
    <h3>This is Mr. Fix-It. If this is your first visit, please visit our @Html.ActionLink("About Page", "Index", "About")</h3>
</div><hr />

@*//if else statment to display greeting to user if they succedded
else statment if user was not succesfull with links back to register and log in*@
@if (User.Identity.IsAuthenticated) 
{
    <h4>Hello @User.Identity.Name!</h4>

} else
{
    <div class="col col-md-6 text-center"><h2>@Html.ActionLink("Register", "Register")</h2></div>
    <div class="col col-md-6 text-center"><h2>@Html.ActionLink("Log in", "Login")</h2></div>
}



